<section class="players">
	<h1>Players</h1>
	<aside>
		<h2><label for="playerName">Name</label></h2>
		<input id="playerName" type="text" placeholder="Player name..." name="playerName" ng-model="query.PlayerName">
		<h2>Position</h2>
		<p></p>
	</aside>
	<table class="list">
		<thead>
			<tr>
				<th>Index</th>
				<th class="number">#</th>
				<th class="name">Name</th>
				<th class="position">Position</th>
				<th class="birthdate">Birthdate</th>
				<th class="citizenship">Citizenship</th>
				<th class="height">Height</th>
				<th class="weight">Weight</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="player in players | filter: query | limitTo: 50">
				<td>{{players.indexOf(player)}}</td>
				<td>{{player.RosterNumber}}</td>
				<td><a href="#/player/{{player.PlayerID}}">{{player.PlayerName}}</a></td>			
				<td>{{player.Position}}</td>
				<td>{{player.DOB | date : 'MMM d, yyyy'}}</td>
				<td>{{player.Citizenship}}</td>
				<td>{{player.Height_Feet + '\' ' + player.Height_Inches + '"'}}</td>
				<td>{{player.Weight}}</td>
			</tr>
		</tbody>
	</table>

</section>